{%
    set packages = salt['grains.filter_by']({
        'Arch': [
            'asciinema',
            'arc-gtk-theme',
            'arc-icon-theme',
            'aws-cli',
            'capitaine-cursors',
            'ccid',
            'compton',
            'ctags',
            'ctop',
            'docker',
            'docker-compose',
            'draft-bin',
            'expac',
            'fzf',
            'git',
            'gnupg',
            'go',
            'google-chrome',
            'google-cloud-sdk',
            'htop',
            'i3-gaps',
            'insomnia',
            'jq',
            'keybase-bin',
            'ksonnet-bin',
            'kubectl-bin',
            'libu2f-host',
            'libusb-compat',
            'materia-theme',
            'neovim',
            'nerd-fonts-fira-code',
            'nitrogen',
            'noto-fonts-emoji',
            'npm',
            'opensc',
            'openssh',
            'paper-icon-theme-git',
            'pcsclite',
            'python-neovim',
            'python-pip',
            'python-pipenv',
            'python2-neovim',
            'rofi',
            'skaffold',
            'terraform',
            'the_silver_searcher',
            'tree',
            'ttf-google-fonts-typewolf',
            'ttf-fira-mono',
            'vagrant',
            'vagrant-libvirt',
            'vimix-gtk-themes-git',
            'virtualbox',
            'visual-studio-code-bin',
            'wavebox-bin-beta',
            'xclip',
            'yajl',
        ]
    })
%}
