{%
    set packages = salt['grains.filter_by']({
        'Arch': [
            'alacritty',
            'android-sdk',
            'arc-gtk-theme',
            'arc-icon-theme',
            'asciinema',
            'aws-cli',
            'autorandr',
            'bat',
            'bibata-cursor-theme',
            'blueman',
            'capitaine-cursors',
            'ccid',
            'chrome-gnome-shell',
            'click',
            'clipit',
            'compton',
            'ctags',
            'ctop',
            'dart',
            'dialog',
            'direnv',
            'docker',
            'docker-compose',
            'docker-machine-driver-kvm2',
            'draft-bin',
            'dunst',
            'exa',
            'exercism-cli',
            'expac',
            'firefox-developer-edition',
            'flameshot',
            'flutter-dev',
            'fzf',
            'git',
            'gnome-keyring',
            'gnupg',
            'google-chrome',
            'google-cloud-sdk',
            'greenclip',
            'htop',
            'hub',
            'i3-gaps',
            'i3lock',
            'insomnia',
            'jdk8-openjdk',
            'jsoncpp',
            'jq',
            'keybase-bin',
            'ksonnet-bin',
            'kubectl-bin',
            'kubernetes-helm-bin',
            'libinput-gestures',
            'libu2f-host',
            'libusb-compat',
            'libvirt',
            'lightdm-gtk-greeter',
            'lxappearance',
            'lxrandr-gtk3',
            'materia-theme',
            'neovim',
            'nerd-fonts-fira-code',
            'nitrogen',
            'nnn',
            'noto-fonts-emoji',
            'npm',
            'opensc',
            'openssh',
            'paper-icon-theme-git',
            'pcsclite',
            'polybar',
            'pulumi-bin',
            'python-neovim',
            'python-pip',
            'python-pipenv',
            'python2-neovim',
            'qemu',
            'riot-desktop',
            'rofi',
            'rofi-emoji',
            'rofi-greenclip',
            'rofi-wifi-menu-git',
            'rustup',
            'skaffold',
            'slack-desktop',
            'sway',
            'terraform',
            'the_silver_searcher',
            'tilix',
            'tldr',
            'tree',
            'ttf-fira-mono',
            'ttf-ms-fonts',
            'vagrant-libvirt',
            'vagrant',
            'vimix-gtk-themes-git',
            'virtualbox',
            'virtualbox-host-modules-arch',
            'visual-studio-code-bin',
            'wavebox-bin',
            'xclip',
            'xf86-input-libinput',
            'xfce4-battery-plugin',
            'xfce4-clipman-plugin',
            'xfce4-datetime-plugin',
            'xfce4-pulseaudio-plugin',
            'xfce4-panel',
            'xorg-xinput',
            'yajl',
            'yarn',
            'zoom',
            'zsh'
        ]
    })
%}
