[user]
	email = david@rawkode.com
	name = David McKay

[alias]
  cane = commit --amend --no-edit
  co = checkout
  cm = commit
  st = status
  pl = pull --ff-only
  prune = fetch --prune
  ps = push

[branch]
  autosetuprebase = always

[color]
  diff = true
  status = true
  branch = true
  interactive = true
  ui = true

[commit]
  algorithm = minimal
  renames = copies
  tool = code

[gpg]
  program = gpg2

[difftool "code"]
  cmd = "code --wait --diff $LOCAL $REMOTE"

[log]
  date = relative

[pull]
  default = current
  rebase = true

[push]
  default = current

[rebase]
  autostash = true

[rerere]
  enabled = true

[stash]
  showPatch = true
